<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Gajesh Bhat</h1>
		<p>This is one of the Simple apps that i have created using rails and ruby. This was done<br>as a part of 'Art of Computer Science Seminar Project.'</p>
		<p>Would like to thank Balaji Vishwanathan Sir for Inspiring us and getting us into the habit of making things.</p>
		<p>Tweet me at : <a href="https://twitter.com/gajeshbhat">@gajeshbhat</a>
		<p>Find my Works on <a href="https://github.com/gajeshbhat">Github</a>
	</div>
</div>
